* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif; }

html {
  font-size: 62,5%;
  font-style: normal;
  font-weight: 400;
  height: 100%; }

.iconoSize {
  font-size: 2.8rem; }

.logo {
  cursor: pointer;
  border-radius: 40em; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0%;
  background-color: #000000; }

.letraNav {
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none; }

.mainIndex {
  position: relative;
  background: url(../imagenes/uct5c.png);
  min-height: 86vh;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding: 280px 0 220px; }

.mainIndex::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4); }

.mainIndex h2 {
  font-size: 2em;
  text-align: center;
  color: #dcdde1;
  font-weight: bold; }

.slogan {
  z-index: 100;
  margin: auto; }

.fondoContacto {
  background: url(../imagenes/paisajeCordillera.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* .fondoContacto::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
  z-index: -1;
} */
.contactoCentrado {
  align-content: center;
  align-items: center; }

.imagenEmpresa {
  height: 50vh;
  overflow: hidden;
  object-fit: cover; }

#carouselExampleControls .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 50vh;
  overflow: hidden; }

#carouselExampleControls .carousel-item::before {
  content: "";
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  display: block;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh; }

.textoCarousel {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10vh; }

.imagenLogoEmpresa {
  max-width: 30vh;
  align-self: center; }

.titulosH4 {
  line-height: 26px;
  font-size: 21px; }

.parrafosP {
  opacity: 0.8; }

.bodyDelP {
  color: #8d97ad;
  background: #ffffff; }

.iconosEmpresa {
  color: #0d87e8; }

.cardSinBorde {
  border: none;
  text-align: center; }

.clientes {
  background-color: #fff; }

.tituloClientes {
  text-align: center;
  font-weight: bold; }

.sizeClientes {
  width: 5rem; }

.sizeClientesGrandes {
  width: 4rem; }

.sizeClientesChicos {
  width: 7rem; }

.galeriaEquipos {
  margin-top: 80px; }

.tituloH3Equipos {
  text-align: center;
  font-weight: bold;
  color: #dcdde1; }
  .tituloH3Equipos__fondoAzul {
    background-color: #0d87e8; }

.imgCtEquipos {
  overflow: hidden; }

.unicoDeCg {
  align-content: space-between; }

.detalleTecnico {
  width: max-content;
  align-content: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center; }

.modalJustificado {
  text-align: start; }

.gallery {
  padding: 80px 0; }

.gallery img {
  cursor: pointer;
  width: 100%; }

.gallery p {
  width: 100%; }

.gallery h2 {
  width: 100%; }
