*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  font-family: "Roboto", sans-serif;
  font-family: "flama light";
  font-size: 62,5%;
  font-style: normal;
  font-weight: 400;
  height: 100%;

}

/* -----------------------------Diseño del Nav Bar ----------------------------*/
li a {
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0%;
  background-color: #000000;
}

.logo{
  cursor: pointer;
border-radius: 40em;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px ;
}

.nav_links li a {
  transition: all 0,3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}


.footer--posicionDistinta{
  position: absolute;
  bottom: 0;
}




.footerIndex{
  grid-area: footerIndex;
}

.slogan {
  position: relative;
  top: 45vh;
  color: rgb(0, 0, 0);
  background-color: rgba(189, 189, 189, 0.692);
  font-size: calc(1em + 1vw);
  line-height: 1.5em;
  text-align: center;
  animation: transitionIn 2s;
}

.slogan--historiaGeo{
  margin-left: 250px;
  margin-right: 250px;
  width: fit-content;
  padding: 0%;
  padding-right: 200px;
  padding-left:200px;
  font-size: 1.2rem;
  border-radius: 50px;
  top: 55vh;
  background-color: rgba(236, 134, 134, 0.692);
  animation: transitionIn 2s;
}


.imagenEmpresa {
  height: 50vh;
  overflow: hidden;
  object-fit: cover; 
}


.seccionEmpresaConBs h2 {
  font-size: 2em;
  text-align: center;
  color: rgb(241, 41, 41);
  font-weight: bold;
}

.seccionEmpresaConBs p {
  font-size: 1em;
  color:white;
  font-weight: bold;

}
/*-----------------------------------sección Empresa con BS--------------------------*/

.claseImagenServicio{
  max-width: 100%;
}

.gallery{

  padding: 80px 0;
}

.gallery img {
  cursor: pointer;
  width: 100%;
}

.gallery p {
  width: 100%;
}

.gallery h2 {
  width: 100%;
}




/*---------------------------Seccion "Contacto"---------------------*/

.fondoContacto{
  background: url(../imagenes/personalGeo7.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
.fondoContacto main,header{
  position: relative;
}
/* .fondoContacto::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
  z-index: -1;
} */

.iconosColor {
  z-index: 20;
}

/* .............................Sección "Equipos" CON BS..........................*/




/* .............................FINALIZACIÓN Sección "Equipos" CON BS..........................*/

.iconoSize {
  font-size: 2.8rem;
}

.listaSinPuntos {
  list-style: none;
  text-align: center;
} 


#carouselExampleControls .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 85vh;
  overflow: hidden;
}

#carouselExampleControls .carousel-item::before {
 content: "";
 background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.5));
display: block;
position: absolute;
top: 0;
width: 100vw;
height: 100vh;
}


.mainIndex {
  position: relative;
  background: url(../imagenes/uct5c.png);
  min-height: 86vh;
  object-fit: cover;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding: 280px 0 220px;
}

.mainIndex h2 {
  font-size: 2.6em;
  text-align: center;
  color: #dcdde1;
  font-weight: bold;
}



