 //EMPRESA
.imagenEmpresa {
    height: 50vh;
    overflow: hidden;
    object-fit: cover; 
  }
 
#carouselExampleControls .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 50vh;
  overflow: hidden;
}

#carouselExampleControls .carousel-item::before {
content: "";
background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.5));
display: block;
position: absolute;
top: 0;
width: 100vw;
height: 100vh;
}

.textoCarousel {
  font-size: $FontSizeTituloH2;
  text-align: center;
  // color: #dcdde1; 
  font-weight: bold;
  margin-bottom: 10vh; 
}

//Cambiar luego a text-white

.imagenLogoEmpresa{
  max-width: 30vh;
  align-self: center;
}

// .titulosEmpresa{
//   font-weight: bold;
// }

.titulosH4{
    line-height: 26px;
    font-size: 21px;
  }

.parrafosP{
  opacity: 0.8;
}

.bodyDelP{
  color:#8d97ad;
  background: #ffffff;
}

.iconosEmpresa{
  color: $colorIconos;
}

.cardSinBorde{
 border: none;
 text-align: center;
}

.clientes{
 background-color: #fff;
}

.tituloClientes{
  text-align: center;
  font-weight: bold;
}

.sizeClientes{
width: 5rem;
}

.sizeClientesGrandes{
  width: 4rem;
  }

  .sizeClientesChicos{
    width: 7rem;
    }





