//EQUIPOS
// #carouselExampleControls .carousel-item img {
//     object-fit: cover;
//     object-position: center;
//     height: 50vh;
//     overflow: hidden;
//   }
  
//   #carouselExampleControls .carousel-item::before {
//    content: "";
//    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.5));
//   display: block;
//   position: absolute;
//   top: 0;
//   width: 100vw;
//   height: 100vh;
//   }
.galeriaEquipos{
   margin-top: 80px;
}

.tituloH3Equipos{
    text-align: center;
    font-weight: bold;
    color: $blancoTitulos;

    &__fondoAzul{ background-color: $colorIconos;
    }
}
.imgCtEquipos{
    overflow: hidden;
}

.unicoDeCg{
    align-content: space-between;
}