//INDEX
.mainIndex {
    position: relative;
    background: url(../imagenes/uct5c.png);
    min-height: 86vh;
    object-fit: cover;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding: 280px 0 220px;
  }
  .mainIndex::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.4);
    }
  
  .mainIndex h2 {
    font-size: $FontSizeTituloH2;
    text-align: center;
    color: $blancoTitulos;
    font-weight: bold;
  }
  
  .slogan{
    z-index: 100;
  }